body, option {
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
}

h1 {
    margin-bottom: 0px; 
    text-align: center;
    color: #333;
}

#subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* Menu CSS. */
#menu {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

#menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #575757;  
}

#menu::after {
    content: "";
    clear: both;
    display: table;
}
